* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
header {
  background-image: url("/headphones/images/headphones_hero_1.jpg");
  height: 200vh;
}

